<div class="container">
    <h1 [style.background]='flag ? "rgb(167, 159, 148)" : " #343a40"'
        [style.color]='flag ? " #343a40" : "rgb(167, 159, 148)"' style="text-align: center; margin-top: 40px;">
        {{name}}
    </h1>

    <div style="float: left; height: 500px; width: 400px;;" class="border border-dark">
        <img src="https://images.unsplash.com/photo-1542736667-069246bdbc6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="height: 500px; width: 398px;" alt="">
    </div>
    <div style="float: right; height: 500px; width: 650px;;" class="container ">

        <label class="bg-dark mt-4">
            <h5 class="text-light">Contact Us :</h5>
        </label>
        <div style="margin-left: 90px;">
            <h6>Email ID: aishwarya@gmail.com</h6>
            <h6>Contact no:1234567890</h6>
        </div>

        <label for="founder" class="bg-dark">
            <h5 class="text-light">Who we are - </h5>
        </label>
        <div style="margin-left: 90px;">

            <b> At Online Medical Store, we help you look after your own health effortlessly as well as take care of
                loved
                ones wherever they may reside in India. You can buy and send medicines from any corner of the
                country - with just a few clicks of the mouse.
            </b>
        </div>
        <label for="founder" class="bg-dark">
            <h5 class="text-light">What we do - </h5>

        </label>
        <h5> Offer fast online access to medicines with convenient home delivery</h5>
        <div style="margin-left: 90px;">

            <b>At Online Medical Store, we make a wide range of prescription medicines and other health products
                conveniently
                available all across India. Even second and third tier cities and rural villages can now have access to
                the latest medicines.
            </b>
        </div>
    </div>
</div>